<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to KongRuksiam Shop</h1>
    <P><b>name:</b><%= name %></P>
    <p><b>age:</b><%= age %></p>
    <%- address %>
</body>
</html>